body {
  -webkit-animation: fade-in 1s linear;
          animation: fade-in 1s linear;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  opacity: .85;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 20px;
  border: 5px dashed #E68B0C;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
  background-color: #E68B0C;
}

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #E68B0C !important;
}

.carousel-indicators .active {
  background-color: #fff !important;
}

.carousel-caption {
  margin-bottom: 1rem;
  color: black;
}

.carousel-caption h3 {
  font-weight: 700;
}

.carousel-caption p {
  font-weight: 500;
  font-size: 18px;
}

.main-central .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row .fotocard {
  width: 330px;
  height: 222px;
  margin: 0px auto;
  text-align: center;
  /* border: 1px solid red; */
}

.fotocard p:nth-child(odd) {
  margin-top: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.fotocard p:nth-child(2) {
  margin: 10px 10px 20px 120px !important;
  font-weight: 500;
}

.fotocard h3:nth-child(1) {
  text-align: right;
  margin: 0px 20px 0px 60px !important;
  line-height: 25px;
  font-weight: 500 !important;
  color: #643912;
  font-weight: 900;
  color: #000;
}

.row .fotocard h3 {
  line-height: 35px;
  margin: 10px 20px 25px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 23px;
  word-spacing: 10px;
}

.container .row .fotocard #second {
  border: 1px solid #E68B0C !important;
  padding: 10px !important;
  background-color: none !important;
  margin-left: 100px;
  margin-right: 30px;
}

.container .row .fotocard #second:hover {
  border: 1px solid #252525 !important;
}

.fotocard a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #E68B0C;
  padding: 10px;
  background-color: #E68B0C;
  color: #fff;
  text-decoration: none;
}

.fotocard:hover .phototext > h2 img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
  opacity: .7;
}

.phototext {
  position: relative;
}

.phototext h2 {
  display: block;
  overflow: hidden;
  position: relative;
}

.phototext img {
  display: block;
  width: 100%;
  height: 200px;
  -webkit-transition: .8s;
  transition: .8s;
}

.meta-info {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 30px;
}

.meta-info a:hover {
  background-color: #252525;
  border: 1px solid #252525;
}

@media screen and (max-width: 767px) {
  .carousel-caption h3 {
    color: red;
  }
  .row .fotocard {
    width: 90%;
    height: 300px;
    margin: 0px 0px;
    padding: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .phototext img {
    height: 290px;
  }
  .fotocard p:nth-child(odd) {
    margin: 80px 50px 10px 50px;
  }
  .fotocard p:nth-child(2) {
    margin: 10px 110px 20px 120px !important;
  }
  .fotocard h3:nth-child(1) {
    margin: 80px 50px 0px 60px !important;
  }
  .row .fotocard h3 {
    margin: 10px 50px 25px 50px;
  }
  .container .row .fotocard #second {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .fotocard p:nth-child(odd) {
    margin: 50px 50px 10px 50px;
  }
  .fotocard p:nth-child(2) {
    margin: 10px 80px 20px 100px !important;
  }
  .fotocard h3:nth-child(1) {
    margin: 50px 50px 0px 60px !important;
  }
  .row .fotocard h3 {
    margin: 10px 50px 25px 50px;
  }
  .container .row .fotocard #second {
    margin-left: 80px;
    margin-right: 0px;
    text-align: center;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Carousel.css.map */