body{
    animation: fade-in 1s linear;
  
}
.changed{
    width: 95%;
    padding: 0;
    margin-top: 0px;
    h2>span{
        color: #E68B0C;
        margin-left: 30px;
    }
} 
  .checked{
    color: orange;
  }
  .slic{
    height: auto;
  }
  
  // .slick-next{
  //   right: -100px;
  // }
  .slick-next, .slick-prev{
    background: url('../slickicon.png') center center no-repeat!important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%;
    &::before {
      display: none;
    }
  }
  .slick-next {
    transform: rotate(180deg)!important;
    top: -40px!important;
    left: 420px!important;
  }
  .slick-prev{
    left: 380px!important;
    top: -25px!important;
  }

  .slick-arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
  }
  // .next{
  //   top: -45px;
  // right: 15px;
  // }
  // .prev{
  //   top: -45px;
  //   right: 60px;
  //   z-index: 1;
  //   transform: rotate(180deg);
  // }
  
  /* all of cards */
  .title{
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.7s;
    img {
      width: 90%;
      height: 200px;
      margin: auto;   
    }
    .card-title{
      // margin: 0 10px 10px 50px;
      text-align: center;
    }
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      vertical-align: middle;
      align-self: center;
      border: 1px solid rgba(37, 37, 37, 0.11);
      border-radius: 5% 5% 0 0;
      width: 17rem;
      margin-left: .8rem!important;
      &:hover .btn{
          /* margin-top: 10px; */
          visibility: visible;
          overflow: hidden;
        }
      }
    .card-body{
      padding: 0;
      width: 100%;
    } 
    .card-body .card-text{
      margin: 10px 0 0 0;
      text-align: center;
    }
    .card-body .card-text span{
      margin-top: 0px;
      color: gray;
      text-align: center;
    }
    .card-body .card-text p{
      margin-top: 10px;
      font-weight: 900;
      letter-spacing: 0px;
    }
    .card a{
      width: 90%;
      text-transform: capitalize;
      font-weight: 700;
      color: white;
      text-shadow: none;
      transition:  ease 0.2s;
      margin-top: 5px;
      text-decoration: none ;
    }
    .card-info a{
      color: rgb(37, 37, 37);
      font-weight: 800;
      text-shadow: none;
      transition:  ease 0.2s;
    }
    .card-info a:hover{
      color: #E68B0C;
    }
    .card-text{
      position: relative;
    }
    .card-text h5{
      color: #E68B0C;
      margin-bottom: 0;
    }
    .btn{
      margin-top: 10px;
      padding: 10px 0px!important;
      text-align: center;
      width: 100%!important;
      visibility: hidden;
      background-color: rgb(37, 37, 37);
      border-radius: 5% 5% 0 0;
      overflow: hidden;
      &:hover{
        background-color: #E68B0C;
      }
    }
  }
  


  @media screen and (max-width: 992px)  {
    .title{
      margin-left: 5px;
    }
    .changed .title .card{
      width: 16rem!important;
      margin-left: .8rem!important;
    }
  }
  
 
  @media screen and (max-width: 768px) {
    .title{
      margin-left: -5px;
      margin-right: 0px;
    }
    .title .btn {
      visibility: visible;
    }
    
    .changed .title .card{
      width: 13rem!important;
    }
  }
  @media screen and (max-width:576px) {
    .changed .title .card{
      width: 13rem!important;
    }
    .title{
      margin-left: 4%;
    }
    .slick-next, .slick-prev{
      margin-top: 5px;
      
    }
    .slick-next {
      top: -40px!important;
      left: 350px!important;
    }
    .slick-prev{
      left: 310px!important;
      top: -25px!important;
    }
  }
  @media screen and (max-width:476px) {
    .changed .title .card{
      width: 12rem!important;
    }
    .title{
      margin-left: -7px;
    }
  }
  @media screen and (max-width:400px) {
    .changed .title .card{
      width: 16rem!important;
    }
    .title{
      margin-left:10%;
      .card-title{
        // margin: 0 10px 10px 80px;
        text-align: center;
      }
    }
    
    .slick-next {
      top: 0px!important;
      left: 190px!important;
    }
    .slick-prev{
      left: 140px!important;
      top: 15px!important;
      z-index: 5;
    }
  }
  @media screen and (max-width:330px) {
    .changed .title .card{
      width: 14rem!important;
    }
    
    .changed{
      h2{
        font-size: 20px;
      }
  } 
    .slick-next, .slick-prev{
      width: 40px!important;
      height: 40px!important;
      border-radius: 50%;
      margin-top: 5px;
      
    }
    .slick-next {
      top: 0px!important;
      left: 140px!important;
    }
    .slick-prev{
      left: 100px!important;
      top: 20px!important;
      z-index: 5;
    }
  }
  @media screen and (max-width:275px) {
    .changed .title .card{
      width: 14rem!important;
    }
    .title{
      margin-left:0%;
    }
    
  }

  

@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }  50%{opacity: 0.1;}   100% { opacity: 1; }   }

