.images{
background-image: url('https://www.stephenconroy.com/images/sc-granolabowls-j4s9a9.jpg');
width: 100%;
background-repeat: no-repeat;
height: 80vh;
}
.contact_basic_text{
    text-align: center;
    margin-top: 5%;
    color: #007aff;
}
.contact_text_area_width{
    height: 200px !important;
}
.contact_basic_text1{
    color: #007aff;
}
.contact_p{
        color: #9fa1a4;
}
.Maps{
    margin-left: 40% ;
}
.for_btn_style77{
background: linear-gradient(-45deg, #1391a5, #274685);
width: 155px;
height:50px;
margin-bottom: 10%;
margin-top: 5%;
}
.contact-input-action{
    margin-top: 4% !important;
}